/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	*
	{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

	body
	{
		background: #f5f5f5 url(images/bg01.jpg) repeat;
		font-family: 'Open Sans', sans-serif;
		font-size: 10pt;
		color: #8c8c8c;
	}

	form
	{
	}
	
		form input,
		form select,
		form textarea
		{
			-webkit-appearance: none;
		}
			
	br.clear
	{
		clear: both;
	}
	
	h1, h2, h3
	{
		font-weight: 300;
		color: #262626;
	}
	
	p, ul, ol, dl, table
	{
		margin-bottom: 1.75em;
	}
	
	p
	{
		line-height: 1.75em;
	}
	
	a
	{
		color: #96b759;
	}
	
	section
	{
	}
	article
	{
	font-size: 1.15em;
	}
	
	section > :last-child,
	article > :last-child
	{
		margin-bottom: 0;
	}

	section:last-child,
	article:last-child
	{
		margin-bottom: 0;
	}

	.image
	{
		display: inline-block;
	}
	
		.image img
		{
			display: block;
			width: 100%;
		}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 1em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

		.image-centered img
		{
			margin: 0 auto;
			width: auto;
		}

	.button
	{
		display: none;
		background: #96b759;
		text-decoration: none;
		font-style: italic;
		color: #FFFFFF;
		-moz-transition: background-color .25s ease-in-out;
		-webkit-transition: background-color .25s ease-in-out;
		-o-transition: background-color .25s ease-in-out;
		-ms-transition: background-color .25s ease-in-out;
		transition: background-color .25s ease-in-out;
	}
	
		.button:hover
		{
			background: #a6c769;
		}
		
		.button:active
		{
			background: #86a749;
		}
	
	ul.style1
	{
	}

		ul.style1 li
		{
			position: relative;
			line-height: 1.5em;
			padding: 0.75em 0 0.75em 0;
			border-top: solid 1px #E8E8E8;
		}
	
		ul.style1 a
		{
			text-decoration: underline;
			color: #8d8d8d;
		}
		
			ul.style1 a:hover
			{
				text-decoration: none;
			}
		
		ul.style1 li.first
		{
			padding-top: 0;
			border-top: 0;
		}
		
	ul.style2
	{
	}
	
		ul.style2 li
		{
			float: left;
			width: 39px;
			height: 50px;
			margin-right: 8px;
			text-indent: -99999em;
		}
		
		ul.style2 a
		{
			display: block;
			text-decoration: none;
		}

	ul.style3
	{
	}
	
		ul.style3 li
		{
			padding: 1.50em 0em 1.90em 0em;
			border-top: 1px solid #e8e8e8;
		}
		
		ul.style3 a
		{
			text-decoration: none;
			color: #6e6d6d;
		}
		
			ul.style3 a:hover
			{
				text-decoration: underline;
			}
			
		ul.style3 .posted
		{
			font-size: 0.90em;
			color: #b6b6b6;
		}
		
		ul.style3 .first
		{
			padding-top: 0em;
			border-top: none;
		}


	ul.style4
	{
		margin-bottom: 2em;
		text-align: center;
		overflow: hidden;
	}
	
		ul.style4 li
		{
			display: inline-block;
			margin: 0 1em 0 1em;
			padding: 0.70em 1em;
			text-decoration: none;
			font-size: 1.25em;
			font-style: italic;
			color: #787878;
			cursor: pointer;
			-moz-transition: background-color .25s ease-in-out;
			-webkit-transition: background-color .25s ease-in-out;
			-o-transition: background-color .25s ease-in-out;
			-ms-transition: background-color .25s ease-in-out;
			transition: background-color .25s ease-in-out;
		}
		
		ul.style4 li:hover,
		ul.style4 li.active
		{
			background: #ededed;
			color: #454545;
		}

	ul.style5
	{
	}

		ul.style5 li
		{
			position: relative;
			overflow: hidden;
			line-height: 1.5em;
			margin: 0 0 1.25em 0;
		}
	
		ul.style5 a
		{
			display: block;
			text-decoration: underline;
			color: #8d8d8d;
			margin-left: 5.5em;
		}
		
			ul.style5 a:hover
			{
				text-decoration: none;
			}
		
		ul.style5 .date
		{
			position: absolute;
			left: 0;
			top: 0;
			margin-right: 1em;
			text-decoration: none;
			color: #b3b3b3;
			width: 5em;
		}

	.social-icon
	{
		position: relative;
	}
	
		.social-icon:after
		{
			content: '';
			display: inline-block;
			width: 39px;
		}
	
		.social-icon:before
		{
			content: '';
			display: inline-block;
			width: 39px;
			height: 39px;
			line-height: 39px;
			background: #d0d0d0 url('images/icons.png');
			background-repeat: no-repeat;
			-moz-transition: background-color .25s ease-in-out;
			-webkit-transition: background-color .25s ease-in-out;
			-o-transition: background-color .25s ease-in-out;
			-ms-transition: background-color .25s ease-in-out;
			transition: background-color .25s ease-in-out;
			position: absolute;
			left: 0;
			top: 50%;
		}
			
			.social-icon:hover:before
			{
				background-color: #474747;	
			}

			.social-icon:active:before
			{
				background-color: #545454;	
			}
		
		.social-icon-01:before
		{
			background-position: 2px 6px;
		}

		.social-icon-02:before
		{
			background-position: -48px 6px;
		}
		
		.social-icon-03:before
		{
			background-position: -100px 6px;
		}
		
		.social-icon-04:before
		{
			background-position: -150px 6px;
		}	

		.social-icon-05:before
		{
			background-position: -200px 6px;
		}
		
		.social-icon-06:before
		{
			background-position: -250px 6px;
		}	

	.category
	{
		display: none;
	}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
		overflow: hidden;
	}
	
	#banner-wrapper
	{
	}
	
	#main-wrapper
	{
	}
	
	#footer-wrapper
	{
		overflow: hidden;
	}
	
/*********************************************************************************/
/* Bar                                                                           */
/*********************************************************************************/

	#bar
	{
		position: relative;
		overflow: hidden;
		background: #101010 url(images/bg02.jpg) no-repeat center top;
		background-size: 100% 100%;
	}	
	
		#bar h2
		{
			color: #FFFFFF;
		}
		
		#bar p
		{
			color: #727272;
		}
	
/*********************************************************************************/
/* Slider                                                                        */
/*********************************************************************************/

	#slider
	{
		background: #f4f4f4;
	}
	
/*********************************************************************************/
/* Poptrox                                                                       */
/*********************************************************************************/

	.poptrox-popup
	{
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		-o-box-sizing: content-box;
		-ms-box-sizing: content-box;
		box-sizing: content-box;
		box-shadow: 0px 25px 25px 0px rgba(0,0,0,0.25);
	}
	
		.poptrox-popup .caption
		{
			font-style: italic;
		}
		
/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		overflow: hidden;
		background: #FFFFFF;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		overflow: hidden;
		background: url(images/bg03.png) no-repeat center top;
	}
	
		#footer h2
		{
			color: #000000;
		}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright 
	{
		overflow: hidden;
		border-top: 1px solid #d7d7d7;
		text-align: left;
		color: #b8b8b8;
	}